<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
</head>
<body>

<!-- Book edition -->
<form id="edit-form" th:action="@{/update(id=${book.id})}" action="list.html" th:method="post" method="post">
    <h1>Edit book:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" th:value="${book.name}" value="Book1"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <select id="author-input" th:field="${book.author.id}">
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.name}" value="1">Author1</option>
        </select>
    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <select id="genre-input" th:field="${book.genre.id}">
            <option th:each="genre : ${genres}"
                    th:value="${genre.id}"
                    th:text="${genre.name}" value="1">Genre1</option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>